.incsub-mailchimp-form {
    margin-bottom:1em;
}
.incsub-mailchimp-label {
	display:block;
}
.incsub-mailchimp-field-wrap {
	margin-bottom:1em;
}
.mailchimp-spinner {
	background: url('spinner.gif') no-repeat top left transparent;
	height: 25px;
	width: 25px;
	display: inline-block;
	vertical-align: middle;
	visibility:hidden;
}
ul.incsub-mailchimp-error,
p.incsub-mailchimp-updated {
	box-sizing:border-box;
	list-style:none;
	padding: 6px 10px;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	box-shadow: none;
	-webkit-box-shadow: none;
	border:1px solid transparent;
	background:white;
    margin-left:0;
}
p.incsub-mailchimp-updated {
	color: #2E9459;
    border-color: #3BA869;
}
ul.incsub-mailchimp-error {
	color: #E74C3C;
	border-color: #E74C3C;			
}
ul.incsub-mailchimp-error li {
	color: #E74C3C;
}
.incsub-mailchimp-field {
	box-sizing:border-box;
	width:100%;
}

.incsub-mailchimp-submit:hover, 
.incsub-mailchimp-submit:focus, 
.incsub-mailchimp-submit:active, 
.incsub-mailchimp-submit.active {
    color: #FFF;
    background-color: #818181;
    border-color: #4E4E4E;
    outline: none;
}

.incsub-mailchimp-submit {
    background: #CCC;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 2px;
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
    cursor:pointer;
}